.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 35px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 30%;
  text-align: center;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  position: absolute;
  bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
  gap: 5px;
  opacity: 0.85;
  width: 90%;
  border-radius: 20px;
  padding: 15px;
}

.name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.role {
  font-size: 1rem;
  color: #777;
}

@media (max-width: 992px) {
  .card {
    width: 45%;
  }
  .info {
    width: 90%;
  }
  .name {
    font-size: 1.5rem;
  }
  .role {
    font-size: 1rem;
  }
}

@media (max-width: 440px) {
  .card {
    width: 100%;
  }
}
