body {
  width: 1920px;
  /* border: 1px solid #6b6b6b; */
}

:root {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  background-color: #0e0e0e;
  /* border: 1px solid #fbbd08; */
}
